fastapi
uvicorn
psycopg2-binary
redis
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
prometheus-client
pydantic